<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Logowanie</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <form class="form-signin" method="post" action="/auth/login">
        <h2 class="form-signin-heading" style="text-align: center; margin-bottom: 2em;">Zaloguj się</h2>
        <p>
            <label for="username" class="sr-only">Nazwa użytkownika</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                   autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Hasło</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <div th:if="${param.error}" class="alert alert-danger notification" role="alert">
            Nieprawidłowa nazwa użytkownika lub hasło.
        </div>
        <div th:if="${param.logout}" class="alert alert-success notification" role="alert">
            Zostałeś pomyślnie wylogowany.
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
    </form>

    <form class="form-signin" method="get" action="/auth/signup">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>
    </form>
</div>

</body>
</html>
