<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edycja studenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Zarządzanie projektami</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projects}">Projekty</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/students}">Studenci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/auth/logout}">Wyloguj się</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="container">
    <div class="row">
        <div class="col">
            <h2>Edycja studenta</h2>
            <br/>
            <form th:action="@{/students/edit}" method="post">
                <div class="form-group">
                    <label for="studentId">ID studenta</label>
                    <input type="text" class="form-control" id="studentId" name="studentId"
                           th:value="${student.ID}" readonly required/>
                </div>
                <div class="form-group">
                    <label for="lastName">Nazwisko</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           placeholder="Nazwisko" maxlength="35" th:value="${student.lastName}"
                           required/>
                </div>
                <div class="form-group">
                    <label for="firstName">Imię</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"
                           placeholder="Imię" maxlength="35" th:value="${student.firstName}"
                           required/>
                </div>
                <div class="form-group">
                    <label for="indexNumber">Numer indeksu</label>
                    <input type="text" class="form-control" id="indexNumber" name="indexNumber"
                           placeholder="Numer indeksu" maxlength="35" th:value="${student.indexNumber}"
                           pattern="\d{6,}" title="Min. 6 znaków, tylko cyfry" required/>
                </div>
                <div class="form-group">
                    <label for="fullTimeGroup">Typ</label>
                    <div id="fullTimeGroup">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fullTime"
                                   id="fullTimeYes" value="true" th:checked="${student.fullTime}">
                            <label class="form-check-label" for="fullTimeYes">
                                Stacjonarny
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fullTime"
                                   id="fullTimeNo" value="false" th:checked="${!student.fullTime}">
                            <label class="form-check-label" for="fullTimeNo">
                                Zaoczny
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>